.setup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.setup-title {
  text-align: center;
}

.setup-logo {
  vertical-align: middle;
  height: auto;
  width: 10%;
  margin: 0 10px;
}

.title-text {
  font-weight: bold;
  font-size: 250%;
}

.setup-chooseFirst,
.setup-chooseMarker {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.chooseFirst,
.chooseMarker {
  opacity: 0.5;
  min-width: 50px;
}

.selected {
  opacity: 1;
  font-weight: bold;
}
